NEXT_PUBLIC_SITE_URL=https://nurarchitects.vn
MONGODB_URI=mongodb://localhost:27017/nur-architects
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=nur-architects
